.blog-detail-content{
    padding: 60px 0 0;
    position: relative;

    @media (max-width: 767px) {
        padding: 0;
        margin-top: -95px !important;
    }

    &__img{
        width: 100%;
    }

    table{
        td{
            padding: 8px;
        }
    }

    h3,p,li, h2, h1, h4, h5, h6{
        color: $white;
    }

    p, li{
        font-size: 18px;
        font-weight: 300;
        font-family: $font;
        line-height: 40px;

        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 35px;
        }
    }

    li{
        p{
            margin-bottom: 0;
        }
    }

    &__img2{
        max-width: 80%;
        margin: 0 auto;
        display: block;
        margin-top: 50px;

        @media (max-width: 767px) {
            max-width: 100%;
        }
    }

    h3, h2, h1, h4, h5, h6{
        margin-bottom: 50px;
        margin-top: 70px;

        @media (max-width: 767px) {
            margin-bottom: 40px;
        }

        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }

    p, li{
        &:not(:first-child){
            margin-top: 10px;
        }
    }
}