.blogs-listing-wrapper{
    margin: 150px auto 20px auto;
    position: relative;
    z-index: 4;

    @media (max-width:1400px) {
        margin: 100px auto 20px auto;
    }

    .title-block{
        margin-bottom: 100px;

        @media (max-width:991px) {
            margin-bottom: 0;
        }

        .title_2{
            position: relative;
            width: fit-content;
            max-width: 100%;
            margin: 0 auto;

            @media (max-width:991px) {
                margin: 40px 0 40px 0;
            }

            img{
                position: absolute;
                right: -28px;
                top: -14px;

                @media (max-width:1300px) {
                    max-width: 215px;
                    top: -10px;
                }

                @media (max-width:1200px) {
                    max-width: 185px;
                    top: -10px;
                }

                @media (max-width:991px) {
                    max-width: 120px;
                    top: -5px;
                    right: -13px;
                }
            }
        }
    }

    &.version-2{
        .title-block{
            .title_2{
                @media (max-width: 991px) {
                    margin: 40px auto;
                }

                img{
                    position: absolute;
                    left: -55px;
                    top: -8px;

                    @media (max-width: 1300px) {
                        max-width: 280px;
                        left: -45px;
                    }

                    @media (max-width: 1200px) {
                        max-width: 230px;
                        left: -35px;
                    }

                    @media (max-width: 991px) {
                        max-width: 160px;
                        left: -25px;
                        top: -5px;                
                    }
                }
            }
        }
    }
}

.blogs-listing__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width:991px) {
        gap: 15px;
    }

    @media (max-width:767px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @media (max-width:575px) {
        grid-template-columns: repeat(1, 1fr);
        
    }


    img{
        border-radius: 30px;
        margin-bottom: 20px;
        width: 100%;
    }

    .light-link{
        text-decoration: underline;
    }

    .blog__item{
        .d-flex{
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: $white;
            margin-bottom: 20px;
            font-family: $font;
            letter-spacing: 0.03em;
            align-items: center;

            div{
                opacity: 0.6;
            }

            .tag{
                background-color: $blue;
                border-radius: 20px;
                padding: 5px 15px;
                color: $white;
                font-family: $font;
                text-transform: uppercase;
                letter-spacing: 0.03em;
                opacity: 1;
            }

            span:first-child{
                padding-right: 10px;
            }

            span:last-child{
                padding-left: 10px;
            }
        }

        .title{
            font-size: 20px;
            line-height: 25px;
            font-weight: 500;
            font-family: $font;
            color: $white;
            margin-bottom: 15px;
            text-decoration: none;
            display: block;
        }

        color: $white;

        .title,p{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @media (max-width:1100px) {
                -webkit-line-clamp: 4;
            }
        }

        p:last-child{
            margin-bottom: 25px;
        }

        p{
            opacity: 0.6;
        }
    }
}