.career-wrapper{
    max-width: 1200px;
    margin: 0 auto;

    &.top-gap{
        margin-top: -170px;

        @media (max-width: 991px) {
            margin-top: -110px;
        }

        @media (max-width: 767px) {
            overflow-x: hidden;
            z-index: 3;
            margin-top: -80px;
        }
    }

    .career-content{
        ul{
            padding-left: 18px;
            margin-bottom: 0;
            margin-top: 22px;

            @media (max-width: 767px) {
                margin-top: 40px;
            }

            li{
                font-size: 18px;
                line-height: 40px;
                font-weight: 300;
                font-family: $font;
                color: $white;

                &:not(:last-child){
                    margin-bottom: 5px;
                }

                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 35px;
                }
            }
        }

        h4{
            margin-top: 70px;

            @media (max-width: 767px) {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }

    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;

        @media (max-width: 1200px) {
            gap: 40px;
        }

        @media (max-width: 767px) {
            display: block;
        }

        h3{
            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }

        ul{
            padding-left: 18px;
            margin-bottom: 0;
            margin-top: 22px;

            li{
                font-size: 18px;
                line-height: 40px;
                font-weight: 300;
                font-family: $font;
                color: $white;

                &:not(:last-child){
                    margin-bottom: 5px;
                }
            }
        }

        p{
            font-size: 18px;
            font-weight: 200;
            font-family: $font;
            line-height: 35px;
            margin-bottom: 0;
            color: $white;

            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 30px;
                margin-top: 40px;
            }
        }
    }

    .career-process{
        margin-top: 80px;
        
        .d-grid{
            grid-template-columns: repeat(2, 1fr);
            gap: 200px 500px;
            max-width: 1070px;
            margin: 0 auto;

            .step{
                &:not(:first-child){
                    @media (max-width:767px) {
                        margin-top: 50px;
                    }
                }
            }

            @media (max-width:1300px) {
                gap: 100px 300px;
            }

            @media (max-width:1000px) {
                gap: 50px 150px;
            }

            @media (max-width: 767px) {
                display: block !important;
                padding-left: 72px;
            }

            img{
                margin-bottom: 30px;
                display: block;

                @media (max-width: 767px) {
                    margin-bottom: 20px;
                    width: 60px;
                    height: 60px;
                }
            }

            h5{
                margin-bottom: 20px;

                @media (max-width: 767px) {
                    margin-bottom: 15px;
                }
            }

            p{
                margin-bottom: 0;
                font-size: 18px;
                line-height: 30px;
                color: $white;
                font-weight: 200;

                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
    }

    .job-list{
        margin: 200px auto;

        

        @media (max-width: 1100px) {
            margin: 130px auto;
        }

        @media (max-width: 767px) {
            margin: 100px auto;
        }

        &__item{
            padding-bottom: 50px;
            border-bottom: 1px solid hsl(0deg 0% 100% / 30%);
            position: relative;

            @media (max-width:767px) {
                padding-bottom: 105px;
            }

            &:not(:first-child){
                margin-top: 50px;
            }

            a{
                text-decoration: none;
                display: block;
                position: absolute;
                right: 0;
                top: 0;

                @media (max-width:767px) {
                    bottom: 30px;
                    left: 0;
                    display: initial;
                    top: auto;
                }
            }

            h4{
                margin-bottom: 30px;
                padding-right: 80px;

                @media (max-width:767px) {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    margin-bottom: 25px;
                    padding-right: 0;
                }

                span{
                    display: inline-block;
                    margin-left: 30px;
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 300;
                    font-family: $font;
                    padding: 10px 20px;
                    border: 1px solid $white;
                    border-radius: 50px;

                    @media (max-width: 1100px) {
                        font-size: 16px;
                    }

                    @media (max-width:767px) {
                        margin-bottom: 25px;
                        margin-left: 0;
                        display: block;
                        width: fit-content;
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
            }

            p{
                font-size: 22px;
                font-family: $font;
                font-weight: 300;
                color: $white;
                margin-bottom: 0;

                @media (max-width:767px) {
                    font-size: 18px;
                }
            }
        }
    }
}