.hero-wrapper{
    background: linear-gradient(178.04deg, #0033FF -5.24%, #101010 98.35%);
    padding: 10px 10px 144px;
    position: relative;

    @media (max-width: 1300px) {
        padding: 10px 10px 100px;
    }

    @media (max-width: 767px) {
        padding: 5px 5px 35px;
    }

    video{
        max-width: 100%;
        width: 100%;
        height: 870px;
        border-radius: 40px;
        object-fit: cover;

        @media (max-width:1300px) {
            height: 700px;
        }

        @media (max-width:767px) {
            border-radius: 20px;
        }
    }

    .hero-wrapper__content{
        height: 100%;
        max-height: 870px;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        max-width: 850px;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: 50px;

        @media (max-width:1300px) {
            max-height: 700px;
            padding: 50px 30px;
        }

        @media (max-width:767px) {
            padding: 50px 30px 0 30px;
        }

        &___title{
            font-size: 150px;
            line-height: 100%;
            font-weight: 300;
            font-family: $font;
            letter-spacing: 0.03em;
            color: $white;

            @media (max-width:1300px) {
                font-size: 130px;
            }

            @media (max-width:991px) {
                font-size: 100px;
            }

            @media (max-width:767px) {
                font-size: 50px;
                position: relative;
                padding-bottom: 125px;
                line-height: 60px;
                font-weight: 400;
                margin-bottom: 35px;

                .d-flex{
                    display: block !important;
                }
            }
        }

        p{
            color: $white;
            font-size: 16px;
            line-height: 30px;
            font-family: $font;
            font-weight: 300;
            letter-spacing: 1px;
            margin-top: 30px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;

            @media (max-width:991px) {
                -webkit-line-clamp: 5;
                max-width: 75%;
                margin-top: 50px;
            }

            @media (max-width:991px) {
                max-width: 100%;
                margin-top: 30px;
            }

            @media (max-width:767px) {
                font-size: 15px;
                line-height: 25px;
            }
        }


        .talk-animation{
            position: relative;
            width: fit-content;
            margin: 0 auto;
            transition: all .3s;

            @media (max-width:991px) {
                margin: 0 20px;
            }

            @media (max-width:767px) {
                position: absolute;
                bottom: 0;
                width: 100%;
                margin: 0 auto;
            }

            img{
                @media (max-width:1300px) {
                    max-width: 160px;
                }

                @media (max-width:991px) {
                    max-width: 130px;
                }

                @media (max-width:767px) {
                    max-width: 171px;
                }
            }

            
            &:hover{
                transform: translateY(2px);
            }
            

            .typing-container{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 6px;
                max-width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            
                .typing-dots {
                display: flex;
                gap: 10px;
                position: relative;
                }
            
                .dot {
                width: 10px;
                height: 10px;
                background: white;
                border-radius: 50%;
                opacity: 0;
                transform: translateY(35px);
                transition: transform 0.3s ease-in, opacity 0.3s ease-in;

                    @media (max-width:991px) {
                        opacity: 1;
                        transform: translateY(0);
                        transition: none;
                    }
                }
            
                &.first-hover {
                .dot:nth-child(1) {
                    opacity: 1;
                    transform: translateY(0);
                }
            
                .dot:nth-child(2) {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: 0.2s;
                }
            
                .dot:nth-child(3) {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: 0.4s;
                }
                }
            
                &.instant-show {
                    .dot {
                        opacity: 1;
                        transform: translateY(0);
                        transition: none;
                    }
                }
            }

            .animation-link{
                font-size: 14px;
                font-family: $font;
                font-weight: 300;
                line-height: initial;
                text-decoration: none;
                color: $white;
                letter-spacing: 0.03em;
                text-transform: capitalize;
                border: 1px solid $blue;
                border-radius: 10px;
                background-color: $black_3;
                position: absolute;
                min-width: 147px;
                min-height: 38px;
                display: none;
                align-items: center;
                justify-content: center;
                gap: 6px;
                bottom: 0;
                right: -31px;
                transform: rotate(-15deg);
                z-index: 8;
                cursor: pointer;

                @media (max-width:1300px) {
                    right: -18px;
                    min-width: 130px;
                }

                @media (max-width:991px) {
                    display: flex;
                    display: flex;
                    font-size: 13px;
                    bottom: -10px;
                    min-height: 35px;
                    min-width: 122px;
                }

                @media (max-width:767px) {
                    min-width: 147px;
                    min-height: 38px;
                    bottom: -20px;
                    right: 24px;
                }
            }

            &:hover{
                .animation-link{
                    display: flex;
                }
            }
        }
    } 

    &.version-1{
        padding: 10px;

        

    &.w-full{
        padding-bottom: 100px;
    }

        @media (max-width: 767px) {
            padding: 5px;
        }

        .hero-wrapper__content{
            position: inherit;
        }

        .hero-wrapper__bg,
        .hero-wrapper__content{
            min-height: 617px;

            @media (max-width: 992px) {
                min-height: 595px;
            }
        }
        
        .hero-wrapper__bg{
            width: 100%;
            border-radius: 40px;
            position: relative;
            z-index: 7;

            @media (max-width: 767px) {
                border-radius: 20px;
            }
        }

        .hero-wrapper__content{
            max-height: 100%;
            max-width: 1085px;

            @media (max-width: 1200px) {
                max-width: 95%;
                margin: 0 auto;
            }

            .title_2{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-bottom: 0;
                font-weight: 400;

                @media (max-width: 767px) {
                    font-size: 40px;
                    line-height: 50px;
                    -webkit-line-clamp: 6;
                }
            }

            p{
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                max-width: 80%;

                @media (max-width: 767px) {
                    -webkit-line-clamp: 6;
                    max-width: 100%;
                }
            }
        }
    }

}