.owl-carousel {
    overflow: hidden;
  }
  
  .owl-stage-outer {
    overflow: hidden !important;
  }
  
  .owl-stage {
    display: flex;
    padding-right: 20px !important;
  }
  
  .owl-item {
    flex: 0 0 auto;
    width: 25%;
  }
  