.thank-you-wrapper{
    min-height: 100vh;
    padding: 200px 30px;
    text-align: center;
    border-radius: 40px;

    @media (max-width:991px) {
        padding: 150px 20px;
        text-align: center;
        border-radius: 10px;
    }

    .title{
        font-size: 75px;
        color: $white;
        font-weight: 400;
        max-width: 50%;
        margin: 0 auto 20px auto;
        font-family: $font;

        @media (max-width:1200px) {
            font-size: 60px;
        }

        @media (max-width:991px) {
            max-width: 100%;
            font-size: 45px;
        }
    }

    p{
        font-size: 18px;
        line-height: 35px;
        color: $white;
        font-weight: 200;
        max-width: 80%;
        margin: 0 auto 20px auto;

        @media (max-width:767px) {
            max-width: 100%;
        }
    }

    .btn-blue{
        margin: 40px auto 0;
    }
}