@import "components/variables-&-common";
@import "components/header";
@import "components/footer";
@import "components/services-listing";
@import "components/technologies-listing";
@import "components/owl-slider";
@import "components/casestudies-listing";
@import "components/hero-wrapper";
@import "components/blog-listing";
@import "components/testimonial-wrapper";
@import "components/why-choose-us-wrapper";
@import "components/aboutus-wrapper";
@import "components/aboutus-square-wrapper";
@import "components/vision-mission-wrapper";
@import "components/latest-blog-wrapper";
@import "components/blog-category-wrappper";
@import "components/blog-detail-content";
@import "components/contact-us";
@import "components/faq-wrapper";
@import "components/brand-guidelines-wrapper";
@import "components/career";
@import "components/gallery";
@import "components/content-wrapper";
@import "components/service-detail-wrapper";
@import "components/page-not-found";
@import "components/thank-you";
@import "components/sitemap";



body{
    font-family: $font;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

main{
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: clip;
}


img{
  max-width: 100%;
}

.dark-wrapper{
    background-color: $black_1;
    position: relative;

    .dark-wrapper__bgvector{
        position: absolute;
        top: 135px;
        left: 0;
    }
}

.w-full{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.common-link{
  color: $blue;
  text-decoration: none;
}

.container{
    width: 100%;
    padding: 0 30px;


    @media (min-width:1300px) {
      max-width: 1270px;
      padding: 0;
    }

    @media (max-width:1299px) {
      max-width: calc(100% - 30px);
      padding: 0 15px;
      margin: 0 auto;
    }

    @media (max-width:1200px) {
      padding: 0;
    }
}


h2, div.title_2, h1.title_2{
  font-size: 80px;
  font-weight: 300;
  line-height: 100px;
  color: $white;
  font-family: $font;
  letter-spacing: 0.03em;

  @media (max-width:1300px) {
    font-size: 60px;
    line-height: 80px;
  }

  @media (max-width:1200px) {
    font-size: 50px;
    line-height: 70px;
  }

  @media (max-width:991px) {
    font-size: 35px;
    line-height: 45px;
  }
}


h3, div.title_3{
    font-size: 50px;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: $white;
    font-family: $font;

    @media (max-width:1300px) {
      font-size: 45px;
      line-height: 55px;
    }

    @media (max-width:1200px) {
      font-size: 40px;
      line-height: 50px;
    }

    @media (max-width:991px) {
      font-size: 35px;
        line-height: 45px;
    }
}

h4{
  font-size: 40px;
  font-weight: 300;
  color: $white;
  line-height: 47px;
  letter-spacing: 0.03em;

  @media (max-width:1300px) {
    font-size: 35px;
    line-height: 40px;
  }

  @media (max-width:1200px) {
    font-size: 30px;
    line-height: 35px;
  }
}

h5{
    font-size: 25px;
    font-family: $font;
    font-weight: 400;
    color: $white;

    @media (max-width:1200px) {
      font-size: 22px;
    }

    @media (max-width:991px) {
      font-size: 20px;
    }
}

h6{
  font-size: 20px;
  font-family: $font;
    font-weight: 300;
    color: $white;
    letter-spacing: 0.03em;
}

.light-link{
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: underline;
  font-family: $font;
  text-transform: capitalize;
  color: $white;
}

.title-block{
  position: relative;

  .small-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;

    @media (max-width:991px) {
      position: relative;
    }
  }

  .title_2{
    position: relative;
    text-align: center;

    @media (max-width:991px) {
      text-align: left;
    }

    img{
      position: absolute;
    }
  }
}


p.small-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-family: $font;
    letter-spacing: 1px;
    color: $white;
}

.small-title{
    font-size: 20px;
    line-height: 100%;
    font-family: $font;
    font-weight: 300;
    color: $white;
}


input::placeholder, 
textarea::placeholder {
  color: $white !important;
  opacity: 1 !important; 
}

/* For better browser support */
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { 
  color: $white !important;
}

input::-ms-input-placeholder, 
textarea::-ms-input-placeholder { 
  color: $white !important;
}

.btn-blue{
  padding: 0 36px;
  min-height: 55px;
  font-size: 15px;
  font-family: $font;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: $white;
  background-color: $blue;
  border-radius: 10px;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  @media (max-width:767px) {
    padding: 15px 30px;
  }

  &:hover, &:active, &:focus-visible{
    transform: scale(1.05);
    color: $white !important;
    background-color: $blue !important;
    outline: none;
    border: 0;
  }
}

.btn-light{
  min-height: 55px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: $white;
  font-size: 15px;
  font-weight: 400;
  font-family: $font;
  border: 1px solid $blue;
  text-decoration: none;
  border-radius: 10px;
  transition: all .3s;

  &:hover{
    background-color: $blue;
  }
}

#animated-svg{
  @media (max-width:991px) {
    display: none;
}
}


.animated-link{
  position: relative;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 2px;
    overflow: hidden;
    width: fit-content;
    color: $white;

    &::after {
      content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background-color: $white; 
    transition: transform 0.3s linear;
    transform: translateX(-100%);

    @media (max-width:1200px) {
      display: none;
    }
  }

  &:hover::after {
    transform: translateX(100%);
  }
}


//SVG animation code 

 @-webkit-keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 3926.711181640625px;
      stroke-dasharray: 3926.711181640625px;
    }
  
    100% {
      stroke-dashoffset: 7853.42236328125px;
      stroke-dasharray: 3926.711181640625px;
    }
  }
  
  @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 3926.711181640625px;
      stroke-dasharray: 3926.711181640625px;
    }
  
    100% {
      stroke-dashoffset: 7853.42236328125px;
      stroke-dasharray: 3926.711181640625px;
    }
  }
  
  .svg-elem-1 {
    opacity: 0; 
    stroke: rgba(255, 255, 255, 0.5); 
    stroke-width: 0.4; 
}
  
.scroll-top {
  position: fixed;
  bottom: 100px;
  right: 30px;
  background-color: transparent;
  color: $white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
  display: none;
  transition: opacity 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid blue;
  height: 45px;
  width: 45px;

  &:hover{
    background: $blue;
  }

  @media (max-width: 767px) {
      height: 35px;
      width: 35px;
      font-size: 18px;
  }
}


.top-gap{
  margin-top: -220px;
  position: relative;

  @media (max-width: 1200px) {
    margin-top: -260px;
  }

  @media (max-width: 991px) {
    margin-top: -190px;
  }
}

.bg-gradient{
  background-color: $blue;
  padding: 10px;

  @media (max-width:991px) {
      padding: 5px;
    }
}